* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  right: 0;
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 8px;
  width: 12px;
  height: 12px;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileNav {
  @apply flex flex-col-reverse md:flex-row md:justify-between p-4 bg-footer md:bg-white text-center mb-0 transition-all
}

@layer utilities {

  .product-grid {
    padding: 3px 0;
    display: grid;
    place-items: center;
    grid-gap: 10px;
    grid-auto-rows: 320px;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-auto-flow: dense;

  }

  .hover-effect {
    position: relative;
    transform: all 1s linear;
    cursor: pointer;
    z-index: 1;
  }

  .hover-effect:hover {
    color: black;
  }

  .hover-effect::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(146, 188, 109);
    z-index: -1;
    transition: transform 1s ease;
    transform-origin: 0 0;
    transform: scaleX(0);

  }

  .hover-effect:hover::before {
    transform: scaleX(1);
  }

}